{% extends "app/base.html" %}
{% block content %}
    <h1> Project for the course of algorithmic complexity at UPC. </h1>
    <hr>
    <p>
    El problema del agente viajero es un problema muy conocido en el mundo de las matemáticas computacionales.
    Este problema trata de un viajero que quiere encontrar la ruta más corta para visitar diversas ciudades;
    sin embargo, se necesita de un algoritmo para brindarle esa información.
    Por ello, en este proyecto le brindaremos 3 algoritmos el cúal él puede elegir el más eficiente para solucionar su problema.
    Este proyecto está implementado para el dataset del Ministerio de Educación del Perú,
    y se encuentra en el website http://sigmed.minedu.gob.pe/descargas/

    Nota: Solo se utilizará él de centro poblados para este trabajo que cuenta con alrededor 150 mil centro poblados.
    </h2>

    <p>Nuestro grupo decidió realizar 3 algoritmos uno cada uno, usando como base el agoritmo de busqueda Dijkstra</h2>
    <h3>Hecho por: @RodrigoAGM, @Daztery y @DiegoSalas27</h3>
{% endblock content %}