{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <p><span id="my_timer" style="font_size: 20%; font-weight: bold;">00:00:00</span></p>
    <article class="media content-section">
        <div class="media-body">
            <div class="container">
                {% if title == "Rodrigo Guadalupe's Solution" or title == "Diego Salas' Solution Kruskal" %}
                    <h1>Click the button to see the result:</h1>
                {% elif title == "Diego Salas' Solution esp" %}
                    <h1>Enter letters from 'a' to 'e':</h1>
                {% else %}
                    <h1>Enter starting node and goal node:</h1>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if title != "Diego Salas' Solution" and title != "Diego Salas' Solution esp" and title != "Andres Lopez's Solution" %}
                            <button class="btn btn-outline-info" type="submit">Calculate</button>
                        {% elif title == "Andres Lopez's Solution" %}
                            <span>Start: </span><input type='text' name='start'/>
                            <button class="btn btn-outline-info" type="submit">Calculate</button>
                        {% else %}
                            <span>Start: </span><input type='text' name='start'/>
                            <span>Goal: </span><input type='text' name='goal'/>
                            <button class="btn btn-outline-info" type="submit">Calculate</button>
                        {% endif %}
                    </div>
                </form>
            </div>
            <br>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        {% if title != "Diego Salas' Solution" and title != "Diego Salas' Solution esp" %}
            <h1>{{ heading1 }}</h1>
            <br>
            <div class="article-metadata">
                <h4>The path is: {{ path }}</h4>
            </div>
        {% elif title == "Diego Salas' Solution Kruskal" %}
            <h1>{{ heading1 }}</h1>
            <br>
            <div class="article-metadata">
                <h4>The path is: {{ path }}</h4>
            </div>
        {% elif title == "Andres Lopez's Solution" %}
            <h1>{{ heading1 }}</h1>
            <br>
            <h4>The path is: {{ path }}</h4>
        {% else %}
            <h1>{{ heading1 }}</h1>
            <br>
            <div class="article-metadata">
                <h4 class="mr-2">Starting node: {{ start }}</h4>
                <h4  class="mr-2">Goal node: {{ goal }}</h4>
            </div>
            <h4>The shortest distance is: {{ shortestPath }}</h4>
            <h4>The path is: {{ path }}</h4>
        {% endif %}
        </div>
    </article>

<script>
    var active = '{{active}}';

    function start_timer() {
        if(true) {
            var timer = document.getElementById("my_timer").innerHTML;
            var arr = timer.split(":")  
            var hour = arr[0]
            var min = arr[1]
            var sec = arr[2]

            if(sec == 59){
                if(min == 59){
                    hour++
                    min=0
                    if(hour < 10) hour = "0" + hour;
                } else {
                    min++;
                }
                if(min < 10) min = "0" + min;
                sec = 0;
            } else {
                sec++;
                if(sec < 10) sec = "0" + sec;
            }

            document.getElementById("my_timer").innerHTML = hour + ":" + min + ":" + sec;
            setTimeout(start_timer, 1000);
        }
    }

    start_timer()

</script>
    
{% endblock content %}